:root {
  --ap-panel--background: var(--ap-main-background-subtle);
  --ap-panel--border-radius: 0.5rem;
  --ap-panel--margin-h: 0;
  --ap-panel--margin-v: 1rem;
  --ap-panel--padding: 0;
  --ap-panel--box-shadow: var(--ap-main-box-shadow--smaller);

  --ap-panel-header--border-bottom: 1px solid grey;
  --ap-panel-header--padding-h: 1rem;
  --ap-panel-header--padding-v: 0.5rem;

  --ap-panel-content--padding: 1rem;
}

.ap-panel {
  border-radius: var(--ap-panel--border-radius);
  margin: var(--ap-panel--margin-v) var(--ap-panel--margin-h);
  background: var(--ap-panel--background);
  box-shadow: var(--ap-panel--box-shadow);

  overflow: hidden;

  & .ap-panel__header {
    padding: var(--ap-panel-header--padding-v) var(--ap-panel-header--padding-h);
    border-bottom: var(--ap-panel-header--border-bottom);

    display: flex;
    align-items: center;

    & .ap-panel__header__title {
      margin-right: auto;
    }
  }

  & .ap-panel__content {
    box-sizing: border-box;
    padding: var(--ap-panel-content--padding);
    transition: height 0.15s ease-in-out, opacity 0.15s ease-in-out, padding 0.15s ease-in-out;
  }

  &.ap-panel--collapsed {
    & .ap-panel__header {
      border: 0;
    }
    & .ap-panel__content {
      height: 0;
      overflow: hidden;
      opacity: 0;
      padding: 0 var(--ap-panel-content--padding);
    }
  }
}
