:root {
  --ap-input--background: var(--ap-main-background-subtle);
  --ap-input--box-shadow: var(--ap-main-box-shadow);
  --ap-input--border-radius: 0.75rem;
  --ap-input--padding-h: var(--ap-padding-m);
  --ap-input--padding-v: var(--ap-padding-s);
}

.ap-input {
  box-shadow: var(--ap-input--box-shadow);
  border-radius: var(--ap-input--border-radius);
  background: var(--ap-input--background);
  padding: var(--ap-input--padding-v) var(--ap-input--padding-h);

  border: none;
  outline: none;
  box-sizing: border-box;

  display: flex;
  align-items: center;

  &:hover {
    filter: brightness(110%);
  }

  &:active,
  &:focus-within,
  &:focus,
  &:focus-visible {
    border: none;
    --ap-input--background: var(--ap-main-background);
    --ap-input--box-shadow: 0 0 5px var(--ap-main-color);
  }

  & .ap-input__input {
    border: none;
    height: 100%;
    flex-grow: 1;
    background: transparent;
    outline: none;

    &::placeholder {
      font-style: italic;
    }
  }

  & .ap-input__action {
    width: 1rem;
    height: 1rem;
    box-sizing: border-box !important;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    color: rgb(80, 80, 80);
    &:hover {
      filter: brightness(20%);
    }
  }

  &.ap-input--show-password {
    & .ap-input__action-password {
      color: var(--ap-main-color);
      filter: brightness(80%);
    }
  }
}