:root {
  --ap-shell-navbar--height: 3rem;
}

.ap-shell-navbar {
  height: var(--ap-shell-navbar--height);

  display: flex;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;

  background: var(--ap-main-background);

  & .ap-shell-navbar--left {

    flex-grow: 1;
  }

  & .ap-shell-navbar--right {
    flex-grow: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  & .ap-shell-navbar__title {
    color: var(--ap-main-color);
  }
  & .ap-shell-navbar__avatar {
    border: 1px solid var(--ap-main-color);
  }
}