:root {
  --ap-shell-menu--width: 2rem;
  --ap-shell-menu--background: var(--ap-main-background);
  --ap-shell-menu--padding: var(--ap-padding-m);
}

.ap-shell-menu {

  width: var(--ap-shell-menu--width);
  background: var(--ap-shell-menu--background);
  padding: var(--ap-shell-menu--padding);

  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: width 0.10s ease-in-out;

  &.ap-shell-menu--expanded {
    --ap-shell-menu--width: 12rem;
  }

  & .ap-shell-menu__expander {
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.25rem;
    align-self: flex-end;
    --ap-button--border-radius: 0.25rem;
  }
}