.input {
  position: relative;

  .input-control {
    input {
      flex-grow: 1;
      padding: 0 0 0 0.5rem;

      border: 2px solid lightgrey;
      border-radius: 2px;

      outline: 0 !important;
    }
    button {
      flex-grow: 0;
      width: 2rem;
      cursor: pointer;

      border: 0 !important;
      outline: 0 !important
    }
  }

  .input-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    button {
      width: 100%;
      height: 100%;

      cursor: text;

      text-align: start;

      padding: 0 0 0 0.5rem !important;
      outline: none !important;
    }
  }

  &.active {
    background: white;
    .input-control {
      display: flex;
    }
    .input-mask {
      display: none;
    }
  }
}