html, body, #reactroot {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  
  user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}
